* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Rajdhani', sans-serif;
}

nav{
 background-color: #0f5fc9;
border-bottom: solid #0359ca;

}
.navbar-nav a{
    color: white;
    font-size: 18px;
    opacity: 0.9;
}
.navbar-nav a:hover{
    color: #FADA17;
    border-bottom:  1px solid rgba(255, 255, 255, 0.712);
}
.nav-item {
    padding-left:5px ;
    padding-right: 5px;
    float: left;
}
.nav-item i{
    padding-right: 5px;

}

.nav-new {
    padding-right: 10px;
}


.btn-b{
    background-color:#FADA17;
    margin-right:  20px;
    text-decoration: none;
    padding: 5px;
    color: #000000;
    font-size: 17px;
    border: 1px solid #f5f9ff48;
    border-radius: 3px;	box-shadow: #f5f9ff48 1px 1px 1px 1px;
    text-shadow: none;
    cursor: pointer;
    line-height: 1.15;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    transition: all 80ms ease-in-out;
    user-select: none;
    touch-action: manipulation;
    width: fit-content;
    
    
    }
    
    .btn-b:hover{
        color: hsl(236, 87%, 54%);
        border: 1px solid white;
        transition: 2ms;
    }
    .carrousel {
        background-color: rgb(160, 160, 160);
        border-top: 1px solid rgb(59, 59, 59);
        border-bottom: 1px solid rgb(70, 70, 70);
    }
    
    .carrousel:hover {
        border-top: 1px solid rgb(104, 104, 104);
        border-bottom: 1px solid rgb(104, 104, 104);
        transition: 1s;
    }
.form-group {
    padding: 4px;
    
}
#serviços {
    background-color:  #0359ca;
    color: black;
    position: relative;
    border-top: 1px solid #4b99ff;
    
}
.img-card {
    margin: 25px;

}
.img-card a{
    cursor: pointer;

}

.display-4 {

    border-top: 1px solid #0f5fc9;
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 65px;
}
.card-body {
    background-color: #3184f1;
}
.card-body p{
    color: white;

}
.lead {
  text-align: center;
  

}
.img-card img{
    margin-right: 12px;
    border-radius: 12px; 
    box-shadow: #f5f9ff48 1px 1px 1px 1px;
    width: 280px;
    margin-bottom: 85px;
    

}
.display-5 {
    border-top: 1px solid #0f5fc9; 
    border-bottom: 1px solid #0f5fc9; 
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 40px;
    
}

#pacotes {
   
     color: black;
     position: relative;
     border-top: 1px solid #8aaaff
     


}

.card-planos {
    background-color: #FADA17;
    height: 500px;
    box-shadow: #ffffff4f 2px 2px 2px 2px;
    width: 230px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-right: 45px ;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 27px;
    opacity: 0.3 0.7 0.3 0.7;
    margin-bottom: 70px;
    
    
}


#planos {
    background-image: linear-gradient(180deg,#0359ca,#2875da);
     color: black;
     position: relative;
    


}
.title-card{
    
    box-shadow: #00000048 1px ;
  border-radius: 10px;


}
.title-card:hover{
    cursor: pointer;
}
    


.footer-dark {
    border-top: 1px solid rgba(255, 255, 255, 0.411);
    padding:50px 0;
    color:#f0f9ff;
    background-color:#165fbe;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul li {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
    padding-bottom: 4px;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  

  
  .footer-dark .item.text {
    margin-bottom:15px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  .copyright a{
    color: rgb(255, 255, 255);
    
    cursor: pointer;
    opacity: 50.0;
  }

    .none {
        display: none;
        margin-left: 4px;
        cursor: pointer;
    }
    .bh {
        font-size: 17px;
    }


    @media screen and (max-width:675px) {
        .img-card img{
            margin-bottom: 17px;
            width: 200px;
           
        } }
      
@media screen and (max-width:675px) {
    .btn-b {
        display: none;
    } }

    @media screen and (max-width:675px) {
      .none {
          display: block;
      } }

       @media screen and (max-width:675px) {
        .card-planos {
            justify-content: center;
            align-items: center;
            margin-right: 20px;
      
           
        } }